# Environnement virtuel
venv/
.env/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers de build
build/
dist/
*.egg-info/

# Notebooks checkpoints
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db

# Sorties de données
!patients_demo/*.csv
*.parquet
*.xlsx

# Logs
*.log

# Configs locales
*.env
